body{
    background-image: url("../images/beanstalk-dark.png");
    color: white;
}

.title-div {

    margin: auto;

    text-align: center;


}
#title-text{
    color: gray;
    text-shadow: 3px 4px gold;
    font-family: 'Barriecito', cursive;
    margin: auto;
    font-size: 90px;
    margin-top: 30px;
}
#title-container {
    background-image: url("../images/jannes-glas-cuhQcfp3By4-unsplash.jpg");
    height: 200px;
    background-size: 1100px;
    border: solid 2px grey;
}

.set-inline {
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
    font-family: 'Indie Flower', cursive;
}

.replaced {
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
    font-family: 'Indie Flower', cursive;
}


.game-description {
    font-family: 'Barriecito', cursive;
    font-size: 20px;
    color: red;
    letter-spacing: 6px;

}

.game-info {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;


}

.game-results-div {
    border: solid;
    width: 40%;
    text-align: center;
    box-shadow: 10px 10px 5px grey;
    background-image: url("/Users/Yannik/Bootcamp/Homework3/Word-Guess-Game/assets/images/funky-lines.png");
}

#letters-guessed {
    height: 200px;
}

#game-letters {
    font-weight: bold;
    margin: 30px 10px 30px;
    font-size: 30px;
}
.game-letter{
    display: inline-block;
    margin: 0px 6px 0px;
}
.space{
    display: inline-block;
    margin: 0px 6px 0px;
}

/* Information displayed once the user has guessed a word */
#extra-info{
    overflow: auto;
    border: solid 2px black;
}
#info-image{
    display: inline-block;
    width: 300px;
}
#info-text{
    display: inline-block;
    width: 300px;
    text-align: left;

}

#gameWord-container{
    border: solid 3px gold;
    padding: 20px 10px 20px;
    margin: 10px 200px 10px;
}
