.title-div {
    font-family: 'Sigmar One', cursive;
    color: blue;
    margin: auto;
    text-align: center;
    background: grey;
}


.set-inline {
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
    font-family: 'Indie Flower', cursive;
}

.replaced {
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
    font-family: 'Indie Flower', cursive;
}



.game-description {
    font-family: 'Indie Flower', cursive;
    color: red;
}

.game-info {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

#game-container{
    text-align: center;
}

#game-letters{
    font-size: 30px;
}
.game-letter{
    display: inline-block;
    margin: 0px 6px 0px;
}
.space{
    display: inline-block;
    margin: 0px 6px 0px;
}

/* Information displayed once the user has guessed a word */
#extra-info{
    overflow: auto;
    border: solid 2px black;
}
#info-image{
    display: inline-block;
    width: 300px;
}
#info-text{
    display: inline-block;
    width: 300px;
    text-align: left;
}